#lines{
    letter-spacing: 5px;
    font-size: 30px;
}
.container {
    text-align: center;
    vertical-align: middle;
    color: orange;
}
#wins{
    color: blue;
    padding: 5px;
    margin: 5px;
}
#count{
    color: black;
    padding: 5px;
    margin: 5px;
    
}